# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
doc/api/__404error.html
doc/api/categories.json
doc/api/index.html
doc/api/index.json
doc/api/search.html
doc/api/dart_lessons/calculate.html
doc/api/dart_lessons/dart_lessons-library-sidebar.html
doc/api/dart_lessons/dart_lessons-library.html
doc/api/static-assets/docs.dart.js
doc/api/static-assets/docs.dart.js.map
doc/api/static-assets/favicon.png
doc/api/static-assets/github.css
doc/api/static-assets/highlight.pack.js
doc/api/static-assets/play_button.svg
doc/api/static-assets/readme.md
doc/api/static-assets/search.svg
doc/api/static-assets/styles.css
